build/
dist/
*pyc
.DS_Store
.#*
*.bak
fabsrc/docs_meta.py
fabsrc/utils.py
fabsrc/utils
makecloth/utils
bin/utils
*#*
bin/docs_meta.yaml
meta.yaml
TAGS
utils/docs_meta.py
config
!giza/giza/config
!giza/giza/quickstart/config
fabsrc/giza
*.egg-info
!giza/docs/config
node_modules/
src/build/

/world-builder/source
/world-builder/build
/world-builder/.ninja*
