.guide-category-list {
    background: var(--charcoal-grey-two) url('images/bg-accent.svg') no-repeat 0 300px;
    color: #fff;
    font-family: var(--sans-serif);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    width: 100%;
    min-height: 100%;
    position: absolute;
}

@media (max-width: 1300px) {
    .guide-category-list {
        background-image: none;
    }
}

.guide-category-list h1 {
    font-weight: bold;
    color: #fff;
}

.guides-intro {
    font-size: 16px;
    line-height: 1.25;
    width: 581px;
    margin-bottom: 34px;
}

.guide-category__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.guide {
    background-color: #fff;
    border-radius: 3px;
    border-left: solid 8px #f5f6f7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    color: #212121;
    line-height: 24px;

    display: flex;
    flex-direction: column;

    height: 200px;
    margin-bottom: 16px;
    margin-right: 16px;
    padding: 22px 16px 17px 16px;
    width: 326px;
    transition: border-color 0.1s linear;
}

.guide:hover {
    text-decoration: none;
}

.guide--jumbo {
    min-height: 200px;
    height: 200px;
    font-size: 20px;
    padding-left: 25px;
}

.guide--jumbo > .guide__body {
  display: none;
  font-family: var(--sans-serif);
}

.guide--jumbo.guide--expanded {
  height: auto;
}

.guide--jumbo.guide--expanded > .guide__body {
  display: block;
}

.guide-column {
    display: flex;
    flex-direction: column;
}

.guide-category__guides {
    display: flex;
    flex-wrap: wrap;
    max-width: 100em;
}

/* First */
.guide-category:nth-of-type(3n+1) .guide {
    border-left-color: var(--elf-green);
}

.guide-category:nth-of-type(3n+1) .guide:hover {
    border-left-color: var(--mongodb-green);
}

/* Second */
.guide-category:nth-of-type(3n+2) .guide {
    border-left-color: var(--silver-chalice);
}

/* Third */
.guide-category:nth-of-type(3n+3) .guide {
    border-left-color: var(--jewel);
}

.guide__title {
    color: #212121;
    font-family: var(--sans-serif-heavy);
    font-size: 20px;
    font-weight: bold;
}

.guide {
    cursor: pointer;
}

.guide--regular:hover > .guide__title {
    color: var(--mongodb-green);
}

.guide__body {
    flex-grow: 1;

    /* Black rightwards arrowhead */
    list-style-type: '\27A4  ';

    /* Line up with card title */
    padding-left: 1em;
}

.guide__entry > a {
    color: inherit;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.guide__entry > a:hover {
    text-decoration: none;
}

.guide__entry {
    font-size: 16px;
    color: #666965;

    &:hover {
        color: var(--mongodb-green);
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.guide__time {
    font-size: 16px;
    line-height: 1.5;
    color: #658d95;
}

.guide-category__title::before {
    margin-right: 10px;
    width: 43px;
    height: 37px;
}

.guide-tablenate tr:nth-child(even) {
    background: #c6f5a45c;
}

.guide-tablenate-dd tr:nth-child(odd) {
    background: #c6f5a45c;
}

.guide-tablenate td, .guide-tablenate th {
    border-color: #e4e4ef          !important;
}

.guide-category__title--getting-started::before {
    background-image: url('data:image/svg+xml;utf,<svg xmlns="http://www.w3.org/2000/svg"><circle cx="18.5" cy="18.5" r="18.5" fill="%23eff6ec"/><g fill="%2313AA52"><path d="M40.3 24l-3-3-2.8 3V9.5h5.9z"/><path d="M43.2 12.4h-1.4v19H33c-.4 0-.7 0-1 .3l-.4.4V17.3l1.4-1.4v-3.5c-.4 0-.7 0-1 .4l-2 2-1.8-2a1.4 1.4 0 0 0-1-.4H17c-.8 0-1.4.6-1.4 1.4v19c0 .7.7 1.3 1.4 1.3h9.6l2.5 2.5a1.4 1.4 0 0 0 2 0l2.5-2.5h9.6c.7 0 1.4-.6 1.4-1.4v-19c0-.7-.7-1.3-1.4-1.3zM28.7 32l-.4-.4a1.4 1.4 0 0 0-1-.4h-8.7v-16h8l2 2z"/><path d="M23 19.6h4.3v-2.8H23zM20 24h7.3v-3H20zm0 4.3h7.3v-2.8H20z"/></g></svg>');
    display: inline-block;
    content: "";
}

.guide-category__title--use-case::before {
    background-image: url('data:image/svg+xml;utf,<svg xmlns="http://www.w3.org/2000/svg"><g><circle cx="18.5" cy="18.5" r="18.5" fill="%23EFF6EC"/><path d="M19.5 13.5A3.5 3.5 0 0 0 16 17v13.2l3.5 5.2 3.5-5.2V17a3.5 3.5 0 0 0-3.5-3.5zm1.2 16l-1.2 1.7-1.2-1.7v-9h2.4v9zm-2.4-11.3V17a1.2 1.2 0 0 1 2.4 0v1.2h-2.4zM34.7 10h-7a2.3 2.3 0 0 0-2.4 2.3v21a2.3 2.3 0 0 0 2.4 2.4h7a2.3 2.3 0 0 0 2.3-2.4v-21a2.3 2.3 0 0 0-2.3-2.3zm-7 23.3v-3.5h3.5v-2.3h-3.5V24h3.5v-2.3h-3.5v-3.5h3.5v-2.4h-3.5v-3.5h7v21h-7z" fill="#13AA52"/></g></svg>');
    display: inline-block;
    content: "";
}

.guide-category__title--deep-dive::before {
    background-image: url('data:image/svg+xml;utf,<svg xmlns="http://www.w3.org/2000/svg"><g><circle cx="18.5" cy="18.5" r="18.5" fill="%23EFF6EC"/><g fill="%2313AA52"><path d="M18.7 24.7a1.4 1.4 0 1 1-2.9 0 1.4 1.4 0 0 1 2.9 0zm5.8 0a1.4 1.4 0 1 1-2.9 0 1.4 1.4 0 0 1 2.9 0zm5.8 0a1.4 1.4 0 1 1-2.9 0 1.4 1.4 0 0 1 2.9 0z"/><path d="M39 26.9h-3.3c.2-.7.4-1.4.4-2.2a6.5 6.5 0 0 0-6.5-6.5h-1.3l-2.5-5a1.4 1.4 0 0 0-1.3-.9h-2.9A4.4 4.4 0 0 0 17.2 8h-1.4v2.9h1.4c.9 0 1.5.7 1.5 1.4h-2.9c-.8 0-1.5.7-1.5 1.5v4.7a6.5 6.5 0 0 0-4.3 6.2 6.5 6.5 0 0 0 6.5 6.5h13a7 7 0 0 0 4.1-1.4H39v-3zM17.2 15.3h6.4l1.4 2.9h-7.7v-3zm12.4 13h-13a3.6 3.6 0 0 1-3.7-3.6c0-2 1.6-3.6 3.6-3.6h13a3.6 3.6 0 0 1 3.7 3.6c0 2-1.6 3.6-3.6 3.6z"/></g></g></svg>');
    display: inline-block;
    content: "";
}
