@import url("../normalize.css");
@import url("../basic.css");
@import url("../font-awesome.css");
@import url("../code-buttons.css");
@import url("../feedback.css");
@import url("../fonts.css");
@import url("../header.css");
@import url("../lightbox.css");
@import url("../marian.css");
@import url("../mws.css");
@import url("../tabs.css");

@import url("./guides-landing.css");

/* Guides-specific things */
.left-toc {
    width: 248px;
    padding-left: 40px;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 56px;
    height: 100vh;
    border-right: solid 1px #e0e7e8;
    top: 45px;
}

.left-toc a {
    color: #424950;
}

.left-toc a:hover {
    text-decoration: none;
}

.left-toc__title {
    font-family: "Akzidenz Grotesk BQ Medium", sans-serif;
    font-size: 20px;
    color: #4a4a4a;
}

.left-toc ul {
    list-style: none;
    padding: 0;
}

.left-toc li {
    line-height: 30px;
    padding-left: 60px;
    position: relative;
    left: -50px;
    width: calc(100% + 50px);
}

.left-toc li:hover {
    cursor: pointer;
}

.left-toc > ul > li > ul > li.active,
.left-toc > ul > li > ul > li:hover {
    color: #69b241;
    background-color: #f5f6f7;
    border-right: 3px solid #69b241;
}

.left-toc > ul > li > ul > li::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><g fill="%239B9B9B" fill-rule="evenodd"><path d="M5.4 7.4L3 10l2.5 2.6 1-1L4.8 10l1.6-1.6zm1.4 1L8.3 10l-1.5 1.6 1 1 2.4-2.6-2.5-2.6z"/><path d="M1.9 14.8V2.3h6.7v2.8h2.7v9.7H1.9zM9.5 1H2C1 1 .5 1.6.5 2.3v12.5c0 .8.6 1.4 1.4 1.4h9.4c.7 0 1.3-.6 1.3-1.3V4l-3-3z"/></g></svg>');
    background-repeat: no-repeat;
    width: 13px;
    height: 16px;
    top: 7px;
    position: absolute;
    display: inline-block;
    content: "";
    margin-left: -19px;
}

.left-toc > ul > li > ul > li.active::before,
.left-toc > ul > li > ul > li:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><g fill="%2369b241" fill-rule="evenodd"><path d="M5.4 7.4L3 10l2.5 2.6 1-1L4.8 10l1.6-1.6zm1.4 1L8.3 10l-1.5 1.6 1 1 2.4-2.6-2.5-2.6z"/><path d="M1.9 14.8V2.3h6.7v2.8h2.7v9.7H1.9zM9.5 1H2C1 1 .5 1.6.5 2.3v12.5c0 .8.6 1.4 1.4 1.4h9.4c.7 0 1.3-.6 1.3-1.3V4l-3-3z"/></g></svg>');
}

.left-toc > ul > li > ul > li.active a,
.left-toc > ul > li > ul > li:hover a {
    color: #69b241;
}

.left-toc ul > li {
    font-size: 16px;
    color: #424950;
}

@media (max-width: 600px) {
    .left-toc {
        display: none;
    }

    .left-nav-space {
        display: nnone;
    }
}

/* Hide the root of the TOC */
.hide-first-toc-level > ul {
    list-style: none;
    padding: 0;
}

.hide-first-toc-level > ul > li > a {
    display: none;
}

.left-nav-space {
    max-width: 134px;
    flex-grow: 1;
}

/* OS X hides scroll bars, which makes some of our code boxes confusing. */
.highlight ::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
   height: 5px;
}

.highlight ::-webkit-scrollbar-thumb {
   border-radius: 0px;
   background-color: rgba(0,0,0,.5);
   height: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: "Akzidenz", sans-serif;
    margin: 0;
    padding: 0;
    color: #424950;
}

hr { border: 1px solid #B1B4B6; }

.content {
    font-size: 16px;
    line-height: 1.5;
}

.related {
    color: #fff;
    background-color: #402817;
    margin-bottom: 0.9em;
    font-size:90%;
}

.related a {
    color: #E2F3CC;
}

.related ul {
    padding: 0 0 0;
}

.footer-nav .related ul {
    padding: 5px 10px 0;
}

.figure > img {
    width: 100%;
}

/* -- body styles ----------------------------------------------------------- */

a {
    color: #006cbc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Akzidenz", sans-serif;
    line-height: 24px;
    color: #424950;
    padding: 0;
}

h1 {
    border-top: none;
    font-size: 40px;
    font-weight: bold;
    line-height: 62px;
    padding: 0;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    line-height: 35px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5, h6 {
    font-size: 14px;
}

div.body h1 + p,  div.body h2 + p, div.body h3 + p, div.body h4 + p,
div.body h1 + dl, div.body h2 + dl, div.body h3 + dl,  div.body h4 + dl {
    padding: 0;
    text-indent:0;
}

div.body h1 + ul, div.body h2 + ul, div.body h3 + ul, div.body  h4 + ul,
div.section h1 + ul, div.section h2 + ul, div.section h3 + ul, div.section  h4 + ul{
    padding-top:0;
    margin-top: 0.3em;
    text-indent:0;
    margin-left: -1.5em;
}

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

a.reference.external:after {
    font-family: FontAwesome;
    content: "\f08e";
    padding-left: 3px;
    vertical-align: middle;
}

div.body li {
    padding-top: .2em;
}
div.highlight{ background-color: white; }
dl.binary { display: none; }
div.topic {
   background-color: #ffffff;
}

table.docutils > div.admonition-example {
    background-color:inherit;
}

div.admonition-example pre {
    background-color: #FBFBFB;
}

div.seealso {
    padding-bottom: 7px;
}

pre {
    padding: 24px 12px;
    color: #222;
    margin: 24px 0;
}

tt, code {
    color: #000;
}

abbr, acronym {
    text-decoration: underline dotted;
    cursor: help;
}

a>tt, a>code {
    color: #006cbc;
}

tt.xref, a tt,
code.xref, a code {
    font-weight: normal;
}


.viewcode-back { font-family: helvetica,arial,sans-serif; }

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

/*
p.first, p.last {
    margin-bottom: 0 !important;
}
*/

table.docutils td { padding: 1px 8px 1em 5px; }

table.docutils.field-list ul.first.last.simple>li { padding-top: 1em; }
table.docutils.field-list ul.first.last.simple>li>p { padding-top: 1em; }

.hll {
    display: inherit;
}

table.footnote {
    font-size: 0.95em;
    line-height: 1.3em;
}

div td pre {
    border: none;
    margin: 0px;
    background-color: transparent;
}

table.docutils {
    margin: 24px 0;
    font-size: 14px;
    line-height: 24px;
}

table.docutils td { padding: 11px 5px 12px; }

table.docutils > thead th.head {
    padding: 0 5px 12px;
}

table.docutils td, table.docutils th {
    border-color: #ebebed;
}

table.index-table td {
    text-align: left;
    border-bottom: none;
    border-right: 1px solid #ebebed;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
    line-height: 15px;
    margin-bottom: 0px;
}

table.index-table td:last-child {
    border-right: 0;
}

table.index-table  {
   margin: auto;
   width: 98%; /* hack to prevent horizontal scrolling in index.html */
}

table.index-table > thead th.head {
    text-align: left;
    padding: 0 0 5px 24px;
    border-bottom: none;
}

table.index-table-less-padding td {
    padding-left: 10px;

}

table.index-table-less-padding > thead th.head {
    padding: 0 0 5px 10px;
 }

div#mongodb ul {
    list-style: none;
    padding-left:0px;
    padding-right:1em;
}
div#mongodb ul.simple {
    list-style:circle;
    margin-top: 0px;
    padding-left:0px;
}

div.related li.right {
    float: right;
    margin-right: 5px;
    margin-top: 85px;
}

#main-db {
    padding-top: 2.5em;
    padding-bottom: 2em;
    background-image: url(https://media.mongodb.org/back-body.png);
    background-repeat: repeat-x;
}

div#top-right {
    position: absolute;
    top: -3px;
    right: 10px;
    *z-index: 10;
}

div#top-right ul#header-menu-bar {
    margin-top: 0;
    padding-left: 20px;
    height: 38px;
    background-image: url(https://media.mongodb.org/trans-user-left.png);
    background-repeat: no-repeat;
}

div#top-right div.user-right  {
    float: right;
    height: 38px;
    min-width: 186px;
    margin: 0;
    padding: 0 20px 0 0;
    font-size: 10pt;
    background-image: url(https://media.mongodb.org/trans-user-right.png);
    background-position: top right;
    background-repeat: no-repeat;
}

div#top-right div.user-right li.normal {
    float: left;
    padding: 8px 1em 0 0;
    height: 38px;
    background-image: url(https://media.mongodb.org/trans-user-back.png);
    background-repeat: repeat-x;
    list-style-type: none;
    font-size: 10pt;
    color: #c48c55;
}

div#top-right div.user-right a, div#top-right div.user-right a:visited {
    border-right: 1px solid #663f12;
    padding-right: 1em;
    color: #aa814d;
    font-weight: normal;
}

div#top-right div.user-right li.last, div#top-right div.user-right a.last, div#top-right div.user-right a.last:visited {
    padding-right: 0;
    border-right: none;
}


input.blur { color: #666; }

input[type="text"]:disabled { color: #333; }

input.blur { color: #666; }

input[type="text"]:disabled { color: #333; }

div#docs-header { width: 950px; }

div#main-db.hidden { display: none; }

tt, tt span.pre,
code, code span.pre {
    font-family: 'Source Code Pro', monospace;
}

tt.descname, tt.descclassname,
code.descname, code.descclassname {
    font-size: 16px;
    font-weight: normal;
}

dl.method dt {
    margin-bottom: 24px;
}

dl.method > dt big {
   font-family: 'Source Code Pro', monospace;
   font-weight: 300;
   font-size: 16px;
}

dl.method > dt em {
   font-family: 'Source Code Pro', monospace;
   font-weight: 700;
   font-style: normal;
}
div.section > h1 + dl.dbcommand > dt {display: none;}
div.section > h1 + dl.operator > dt {display: none;}
div.section > h1 + dl.method > dt {display: none;}
div.section > h1 + dl.pipeline > dt {display: none;}
div.section > h1 + dl.group > dt {display: none;}
div.section > h1 + dl.expression > dt {display: none;}
div.section > h1 + dl.projection > dt {display: none;}

.body p {
    margin: 24px 0;
}

.body p.caption {
    margin-top: 0;
}

.body li>p {
    margin: 0;
}

div.highlight pre {
    background: #f5f6f7 url(https://media.mongodb.org/code-block-bg.png) 0 0 repeat;
    border-radius: 0;
    border: none;
    border-left: 5px solid #494747;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 24px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    div.highlight pre {
        background: #f5f6f7 url(https://media.mongodb.org/code-block-bg@2x.png) 0 0 repeat;
        background-size: 12px 12px;
    }
}

table.docutils div.highlight pre {
    background: none;
    border: none;
    padding: 0;
}

table.docutils .button-row {
    border: none;
    background: none;
}

h2 + div.section,
h3 + div.section,
h4 + div.section {
    margin-top: 0;
}

.body h3 + p,
.body h4 + p {
    margin-top: 0;
}

#btnv {
    padding-top: 2em;
    padding-bottom: 2.5em;
    display: table;
    width: 100%;
}

#btnv .btn-prev-text,
#btnv .btn-next-text,
#btnv .btn-arrow-left,
#btnv .btn-arrow-right {
    display: table-cell;
    vertical-align: middle;
}

#btnv .btn-arrow-left,
#btnv .btn-next-text {
    text-align: right;
}

#btnv .btn-arrow-right,
#btnv .btn-prev-text {
    text-align: left;
}

#btnv .btn-prev-text>span, #btnv .btn-next-text>span {
    display: inline-block;
    width: 270px;
}

table.docutils tbody tr td div.highlight pre { background-color: inherit; }

/* somehow, powershell commands starting with a directory reference does not include a div.highlight */
div.highlight-powershell pre { background-color: #F5F5F5; }

div.body li > p.first { margin-bottom: 0; }
h4#vnd {padding:0;margin:0;line-height:1.5;padding-left:10px;}
div.body div.bc {
    background: white;
    cursor: default;
    margin-bottom: 24px;
}
div.body div.bc .fa-home {
    font-size: 24px;
    margin-top: 2px;
}
div.body div.bc li.jr { float: right; display:none; }
div.body div.bc ul { padding:0; margin:0 }
div.body div.bc ul li { list-style: none; font-size: 13px; display:inline; }
div.body div.bc ul li a { color: #006cbc; }
div.dc span.bcpoint { font-weight: bold; font-size:0.9em; color: #343434; }

div.body div.contents {
   padding: 0 0.5em 0.5em;
}

div.body div.contents.long-toc { max-width: 100%; float: none; margin-left: 0; }

div.body div.contents li {
   padding-top: .25em;
   column-break-inside: avoid;
   list-style-position: inside;
}
div.body div.contents.singlecol ul {
   margin: 0;
   padding-left: 1.0em;
}

div.body div.contents.twocols  ul{
   margin: 0;
   padding-left: 1.0em;
   -webkit-column-count:2;
   -ms-column-count:2;
   -o-column-count:2;
   column-count:2;
   -webkit-column-gap: 10px;
   -ms-column-gap: 10px;
   -o-column-gap: 10px;
   column-gap: 10px;
   columns:2;
}

div.hidden { display: none; }

#vn {
    font-size: 0.85em;
}

a > em { font-style: normal; }

.versionadded > p > span,
.versionmodified,
.deprecated > p > span {
    font-style: italic;
}

/* Content */


.content {
    box-sizing: border-box;
    display: flex;
    margin: 45px auto 0;
}

.main-column {
    min-height: 600px;
    width: 68%;
    max-width: 800px;
    flex-grow: 2;
    transition: margin-left 0.4s cubic-bezier(.02,.01,.47,1);
    -webkit-transition: margin-left 0.4s cubic-bezier(.02,.01,.47,1);

    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    display: inline-block;
    overflow-x: scroll;

}

#left-column {
   flex-shrink: 1;
   flex-grow: 0;
   flex-basis: 330px;
   background-color: #fff;
   min-width: 330px;
   display:flex;
   overflow-y: auto;
   border-right: 1px solid #e0e7e8;
}

/* Footer styles */
.footer {
    width:auto;
    font-size:80%;
    border:none;
    padding: 20px 0;
}

.footer .copyright {
    text-align: center;
}

.footer p {
    margin: 1em 0;
    padding: 0;
    line-height:1.5;
}

.footer a {
    color: #989898;
    text-decoration: underline;
}

.footer h3 {
    margin-top: 10px;
    font-size: 16px;
}

.footer .box {
    background-color: #f5f6f7;
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
}

.footer .box a {
    color: #333;
    text-decoration: none;
}

.footer .box a:hover {
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    padding-left: 20px;
}

.footer .section-0 {
    padding-left: 100px;
}

.footer .section-1 {
    padding-left: 46px;
}

.footer .section-2 {
    padding-left: 64px;
}

.footer .section-3 {
    padding-left: 49px;
}

@media (max-width: 992px) {
    .footer .section-0,
    .footer .section-1,
    .footer .section-2,
    .footer .section-3 {
        padding-left: 15px;
    }
}

/* Numbered steps directive */
.sequence-block {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 25px 0;
}

.sequence-block > .bullet-block {
    display: table-cell;
    padding-right: 10px;
    width: 2.5em;
}

.sequence-step {
    text-align: center;
    background-color: #333;
    color: white;
    width: 24px;
    font-weight: bold;
    height: 24px;
    border-radius: 12px;
}

.sequence-block > .section > h4 {
    margin: 0;
}

/* Collapsible sidebar styles */

#showNav {
    display: none;
    position: fixed;
    top: 90px;
    font-size: 14px;
    margin-top: 70px;
    text-align: center;
    border-radius: 3px;
    background-color: #7fc857;
    color: white;
    left: 30px;
    border: 1.5px solid #7fc857;
    padding: 5px 10px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    cursor: pointer;
}

#closeNav {
    font-size: 14px;
    color: #333!important;
    text-decoration: none;
    text-align: right;
    position: relative;
    right: 12px;
    display: block;
    top: 12px;
}


#closeNav:hover {
    color: black;
    text-decoration: none;
}

/* Admonition styles */
.admonition {
    margin: 24px 0;
    width: auto;
    max-width: 100%;
    padding: 2px 12px 22px 12px;
    border-left: 5px solid transparent;
}

.admonition-title {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.admonition-title:after {
    content: ":";
    font-weight:900;
}

.admonition > p {
    margin: 0 0 12.5px 0;
}

.admonition > p.last {
    margin-bottom: 0;
}

.admonition.admonition-platform-support,
.admonition.tip,
.admonition.admonition-tip,
.admonition.note,
.admonition-instructor {
    background-color: #edf4e8;
    border-color: #6ba442;
}

.admonition.admonition-platform-support .admonition-title,
.admonition.tip .admonition-title,
.admonition.note .admonition-title,
.admonition-instructor .admonition-title {
    color: #89b668;
}

.admonition.important {
    background-color: #fff2d5;
    border-color: #ffb618;
}
.admonition.important .admonition-title {
    color: #ffb618;
}

/*.admonition.tip, .admonition-tip {
    background-color: #a6c88e;
    border-color: #507b32;
}*/

.admonition.admonition-optional {
    background-color: inherit;
    border: 1px solid #DCDCDC;
}

.admonition.admonition-example {
    background-color: #F5F5F5;
    color: #000000;
}

.admonition.warning {
    background-color: #fae6e5;
    border-color: #ed271c;
}

.admonition.warning .admonition-title {
    color: #ed271c;
}

.admonition.admonition-advisories, .admonition.admonition-advisory {
    background-color: #fae6e5;
    border-color: #ed271c;
}

dd > div.admonition {
    margin-left: 0;
}

p > div.admonition {
    margin-left:0;
}

li > div.admonition {
    margin-left:0;
}

div.admonition.note table.docutils tr:last-child td {
    border-bottom: 0;
}

@media (max-width: 1263px) {
   #header-db .header-content {
      width: 100%;
   }
   .content .right-column {
      display: none;
   }

   #left-column {
     display: flex;
   }

   .sphinxsidebar{
     display: block;
   }

}

@media (min-width: 1121px) and (max-width: 1262px) {

    #header-db .nav-items {
        margin-right: 15px;
    }
    #header-db .nav-items {
      float: none;
    }

    .content .right-column {
        display: none;
    }
}

.expand-toc-icon {
    display: none;
}

@media (max-width: 1093px) {
    .expand-toc-icon {
        display: block;
        padding-top: 10px;
        padding-right: 10px;
        color: white;
    }

    .expand-toc-icon:hover,
    .expand-toc-icon:active {
        color: white;
        text-decoration: none;
    }

    #header-db .header-content {
        width: 1093px;
        padding-left: 30px;
        float: none;
    }

    #header-db .nav-items {
        margin-right: 15px;
        float: none;
    }

    #showNav {
        cursor: pointer;
        position: fixed;
        display: block;

    }
    #left-column, .sphinxsidebar {
        display: none;
    }
}

.action-buttons .modal-column-1 {
    position: relative;
    border-right: 1px solid #ebebed;
}

.action-buttons .modal-column-2 > .btn-group {
    margin-left: -9px;
}

.action-buttons .modal-column-1,
.action-buttons .modal-column-2 {
    padding-top: 25px;
    padding-bottom: 40px;
}

.action-buttons .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    top: 29px;
    border-radius: 14px;
    border: 1px solid #dee0e3;
    background-color: white;
}

.action-buttons .divider-text {
    cursor: default;
    position: absolute;
    right: -5px;
    top: 32px;
    font-size: 13px;
    color: #333;
}

.action-buttons .btn-group,
.action-buttons .btn-group > button {
    width: 100%;
}

.saving-copy, .redirect-copy {
    height: 100px;
}

.guilabel {
    font-style: normal;
    font-weight: bold;
}

h1 .guilabel,
h2 .guilabel,
h3 .guilabel,
h4 .guilabel,
h5 .guilabel,
h6 .guilabel {
  font-style: italic;
}

.slides-link {
    float: right;
}

/*  tables for compatibility matrices */

table.compatibility, table.compatibility-large{
    border-collapse: collapse;
    color: rgb(73,71,71);
    display: table-cell;
    font-family: "Akzidenz", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    vertical-align: middle;
}

table.docutils.compatibility, table.docutils.compatibility-large{
    line-height: 12px;
    vertical-align: middle;
}

table.docutils.compatibility > thead th.head,
table.docutils.compatibility-large > thead th.head{
    padding: 12px 12px;
    text-align: center;
    background-color: rgb(127, 127, 127);
    color: rgb(255, 255, 255);
}

table.docutils.compatibility > thead th:nth-child(1),
table.docutils.compatibility-large > thead th:nth-child(1){
    text-align: left;
    padding: 10px 12px;
    background-color: rgb(238,238, 238);
    color: rgb(127, 127, 127);
}

table.docutils.compatibility td{
    padding: 11px 55px 12px;
}

table.docutils.compatibility-large td{
    padding: 11px 35px 12px;
}
table.compatibility th,
table.compatibility td,
table.compatibility-large th,
table.compatibility-large td{
    border: rgb(245,246,247);
    border-style: solid;
    border-width: 1px;
    vertical-align: middle;
}

table.compatibility td, table.compatibility-large td{
    text-align: center;
}
table.compatibility th:nth-child(1),
table.compatibility-large th:nth-child(1){
    text-align: left;
    padding: 10px 12px;
    background-color: rgb(238,238, 238);
    color: rgb(127, 127, 127);
}

@media print {
    #topbar {
        display: none;
    }

    #left-column {
        display: none;
    }

    #showNav {
        display: none;
    }

    #btnv {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .edit-link {
        display: none;
    }

    .main-column {
        margin-left: 0px;
        margin-top: 0px;
    }

    #header-db {
        display: none;
    }
}
