argh==0.26.1
Babel==2.2.0
boto==2.39.0
cffi==1.5.2
click==6.2
cryptography==1.2.2
docutils==0.12
enum34==1.1.2
future==0.15.2
github3.py==0.9.5
giza==0.5.8a0
hieroglyph==0.7.1
idna==2.0
ipaddress==1.0.16
Jinja2==2.8
jira==1.0.3
libgiza==0.2.13
MarkupSafe==0.23
ndg-httpsclient==0.4.0
oauthlib==1.0.3
onetimepass==1.0.1
polib==1.0.7
pyasn1==0.1.9
pycparser==2.14
Pygments==2.1.1
pyOpenSSL==0.15.1
pytz==2015.7
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.0
requests-toolbelt==0.6.0
rstcloth==0.2.6
six==1.10.0
Sphinx==1.2.3
sphinx-intl==0.9.9
sphinxcontrib-httpdomain==1.4.0
tlslite==0.4.9
uritemplate.py==0.3.0
Wand==0.4.2
wheel==0.29.0
