alabaster==0.7.12
argh==0.26.2
asn1crypto==0.24.0
Babel==2.7.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
defusedxml==0.6.0
docutils==0.14
enum34==1.1.6
fett==0.3.2
giza==0.5.18
hieroglyph==1.0.0
idna==2.8
imagesize==1.1.0
ipaddress==1.0.22
Jinja2==2.10.1
jira==2.0.0
jsx-lexer==0.0.7
MarkupSafe==1.1.1
oauthlib==3.0.1
onetimepass==1.0.1
packaging==19.0
pbr==5.3.1
polib==1.1.0
pycparser==2.19
Pygments==2.7.4
PyJWT==1.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rstcloth==0.2.6
six==1.12.0
snowballstemmer==1.9.0
Sphinx==1.6.6
sphinx-intl==1.0.0
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-websupport==1.1.2
typing==3.7.4
urllib3==1.25.3
Wand==0.5.4
