alabaster==0.7.9
appdirs==1.4.0
argh==0.26.2
Babel==2.3.4
boto==2.45.0
click==6.7
defusedxml==0.4.1
docutils==0.13.1
fett==0.2.0
future==0.16.0
github3.py==0.9.5
hieroglyph==0.7.1
imagesize==0.7.1
Jinja2==2.9.5
jira==1.0.9
MarkupSafe==0.23
oauthlib==2.0.1
onetimepass==1.0.1
ordereddict==1.1
packaging==16.8
pbr==1.10.0
polib==1.0.8
Pygments==2.2.0
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.7.0
requests-toolbelt==0.7.0
rstcloth==0.2.6
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-intl==0.9.9
sphinxcontrib-httpdomain==1.5.0
typing==3.5.3.0
uritemplate==3.0.0
uritemplate.py==3.0.2
Wand==0.4.4
