.navbar-links {
  display: inline-block;
  padding: 0 40px;

  &__item {
    color: var(--charcoal-grey-two);
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 45px;
    letter-spacing: .3px;
    margin: 0 20px;
    padding: 15px 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    /* TODO: use :not instead */
    &:first-child {
      margin-left: 0;
    }

    /* TODO: use :not instead */
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--mongodb-green);
      text-decoration: none;
    }

    &--active {
      color: var(--mongodb-green);

      &:hover {
        color: var(--green-secondary);

        &::after {
          background-color: var(--green-secondary);
          transition-duration: .4s;
        }
      }

      &::after {
        background-color: var(--mongodb-green);
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        transition-duration: .4s;
        width: 100%;
      }
    }
  }
}
