.navbar-download {
  align-items: center;
  display: inline-flex;
  padding-right: 40px;

  &__text {
    color: var(--mongodb-green);
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .3px;
    margin-left: auto;
    margin-right: 5px;
  }

  &__icon {
    /* TODO: Is this class necessary? */
  }
}
