{%- extends "layout.html" -%}

{%- block htmltitle %}
  {%- if not embedded and docstitle %}
    {%- set titlesuffix = " &mdash; "|safe + docstitle|e  %}
  {%- else %}
    {%- set titlesuffix = "" %}
  {%- endif -%}

  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
{%- endblock -%}

{%- block editlink_icon %}{% endblock %}

{%- block canonicalref %}
{%- endblock -%}

{%- block breadcrumbs %}
  <ul class="stitch-bc">
  {% if lineage and lineage|length > 1 %}
  {%- for ancestor in lineage %}
    <li>
      {% if ancestor.link %}
        <a href="{{ ancestor.link }}">{{ ancestor.text }}</a>
      {% else %}
        {{ ancestor.text }}
      {% endif %}
      {% if not loop.last %}<span class="bcpoint"> > </span>{% endif %}
    </li>
  {%- endfor %}
  {%- endif %}
  </ul>
{%- endblock -%}

{%- block alertbar -%}
    {{ super() }}
{%- endblock -%}

{%- block adblockheader %}
    {%- include "stitch-adblock-header.html" %}
{%- endblock -%}

{%- block adblock %}
    {%- include "stitch-adblock.html" %}
{%- endblock -%}



{%- block sitesearch %}
  {%- if builder != 'singlehtml' %}
   <script>
      window.googleSearchCx = "017213726194841070573:nheyyu5ty9c"
      window.googleSearchPlaceholder = "Search Stitch Docs"
      window.googleSearchResultsUrl = "http://docs.mongodb.com/stitch/search/"
   </script>
  {%- endif %}
{%- endblock -%}

{%- block header %}
<div id="navbar" data-navprops='{"links": [{"url": "https://docs.mongodb.com/manual/","text": "Server"},{"url": "https://docs.mongodb.com/ecosystem/drivers/","text": "Drivers"},{"url": "https://docs.mongodb.com/cloud/","text": "Cloud","active": true},{"url": "https://docs.mongodb.com/tools/","text": "Tools"},{"url": "https://docs.mongodb.com/guides/","text": "Guides"}]}'></div>
{%- endblock %}

{%- block langauge_selector %}{%- endblock -%}
{%- block pdflink %}{%- endblock %}
{%- block epublink %}{%- endblock %}





{%- block righttoc %} {% endblock %}
