.button-row {
  /* background-color: #494747; */
  background-image: url(https://media.mongodb.org/code-block-bg.png);
  display: flex;
  flex-direction: row-reverse;
  border-left: 5px solid rgb(73, 71, 71);
}

.code-button {
  color: #ffffff;
  flex-grow: 0;
  min-width: 75px;
  background: #7a7b7b;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  height: 24px;
  line-height: 16px;
  margin: 0px 1px;
  padding: 4px 8px;
  border-radius: 0px;

  -webkit-user-select: none;
  user-select: none;
}

.code-button:first-of-type {
  margin-right: 4px;
  margin-right: 0px;
}

.code-button:hover, .code-button:focus {
  background: #9d9e9e;
  color: #ffffff;
  text-decoration: none;
}

.code-button:active {
  background: #7a7b7b;
}

.button-code-block pre {
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 24px;
}

@media print {
    .button-row {
        display: none;
    }
}
