/* Brand Portal: https://mongodb.frontify.com */

:root {

  /* Leafygreen UI Colors (retrieved 12 December 2019)
   * https://github.com/mongodb/leafygreen-ui/blob/master/packages/palette/src/uiColors.ts
   */
  --gray-dark3: #21313C;
  --gray-dark2: #3D4F58;
  --gray-dark1: #5D6C74;
  --gray-base: #89989B;
  --gray-light1: #B8C4C2;
  --gray-light2: #E7EEEC;
  --gray-light3: #F9FBFA;
 
  /* "Primary Palette" (retrieved April 2019) */
  --mongodb-green: var(--leaf);
  --leaf: #13aa52;
  --fern: #12924f;
  --forest: #116149;
  --fog: #b8c4c2;
  --graphite: #21313c;
  --white: #fefefe;

  /* "Secondary Palette" (retrieved April 2019) */
  --spring: #91c851;
  --daffodile: #ffdd49;

  --mongodb-green-light: #c2e0b4;
  --mongodb-green-neutral: #eff6ec;
  --green-secondary: #3c6626;
  --blush: #f4758b;
  --blush-light: #f9c7d0;
  --blush-neutral: #fdf1f2;
  --air: #c2deff;
  --air-light: #e7f0f9;
  --air-neutral: #f3f7fd;
  --marigold: #f4b65d;
  --marigold-light: #f6d29d;
  --marigold-neutral: #fff7ee;
  

  --tomato: #ef4c4c;
  --light-grey-green: #c2e0b4;
  --light-tan: #f6d29d;
  --charcoal-grey-two: #424950;

  --grey-primary: #b3bbc1;
  --grey-secondary: #616161;
  --light-grey-primary: #e0e7e8;
  --light-grey-secondary: #f5f6f7;
  --primary-shadow: rgba(0, 0, 0, .1);

  --mms-alert-blue: #43b1e5;
  --mms-alert-red: #ef4c4c;
  --mms-alert-red-dark: color(var(--alert-red) tint(25%));
  --mms-gray1: #464c4f;
  --mms-gray5: #babdbe;
  --mms-green2: #13aa52;
  --mms-warning-text: #ffb618;

  --sans-serif: "Akzidenz", "Helvetica Neue", sans-serif;
  --monospace: "Source Code Pro", monospace;

  --hr-style: 1px solid var(--light-grey-primary);

  --image-chevron: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="7.4"><path d="M1.4 0L0 1.4 4.6 6 0 10.6 1.4 12l6-6z" fill="%2369b241"/></svg>') no-repeat center;
  --chevron-width: 16px;
  --image-caret: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="4.5" width="7.9"><path d="M7.8.1a.5.5 0 0 0-.4-.1H.5a.5.5 0 0 0-.4.1.5.5 0 0 0-.1.4l.1.3 3.5 3.5a.5.5 0 0 0 .4.2c.1 0 .2 0 .3-.2L7.8.8a.5.5 0 0 0 .1-.3L7.8.1z" fill="%32464c4f"/></svg>') no-repeat center;
  --caret-width: 10px;
}
