/* Custom CSS for configuration tables in Stitch Docs */
/* Useful for multi-interface configuration tables */
.config-table {
    width: 100%;

    & td {
        & .line-block {
            margin: 0;
        }
        & p.first, p.last {
            margin-bottom: 0;
        }
        & div.tabs p:nth-child(1) {
            margin: 0
        }
    }

}
