@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,700);

/* Fonts! */

/* MMS Icons */
@font-face {
    font-family: 'MMSIcons-Regular';
    src: url('fonts/MMSIcons-Regular.woff2') format('woff2'),
         url('fonts/MMSIcons-Regular.woff') format('woff'),
         url('fonts/MMSIcons-Regular.ttf')  format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MMSOrgIcons-Regular';
    src: url('fonts/MMSOrgIcons-Regular.woff2') format('woff2'),
         url('fonts/MMSOrgIcons-Regular.woff') format('woff'),
         url('fonts/MMSOrgIcons-Regular.ttf')  format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Charts */
@font-face {
    font-family: 'ChartsIcons';
    src: url('fonts/charts.woff2') format('woff2'),
         url('fonts/charts.woff') format('woff'),
         url('fonts/charts.ttf')  format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Akzidenz */
/*Reg*/
@font-face {
    font-family: 'Akzidenz';
    src: url('fonts/akzidgrostdreg.eot');
    src: url('fonts/akzidgrostdreg.eot#iefix') format('embedded-opentype'),
    url('fonts/akzidgrostdreg.woff') format('woff'),
    url('fonts/akzidgrostdreg.ttf')  format('truetype');
    font-style: normal;
    font-weight: normal;
}
/*Reg Italic*/
@font-face {
    font-family: 'Akzidenz';
    src: url('fonts/akzidgrostdita.eot');
    src: url('fonts/akzidgrostdita.eot#iefix') format('embedded-opentype'),
    url('fonts/akzidgrostdita.woff') format('woff'),
    url('fonts/akzidgrostdita.ttf')  format('truetype');
    font-style: italic;
    font-weight: normal;
}
/*Bold*/
@font-face {
    font-family: 'Akzidenz';
    src: url('fonts/akzidgrostdmed.eot');
    src: url('fonts/akzidgrostdmed.eot#iefix') format('embedded-opentype'),
    url('fonts/akzidgrostdmed.woff') format('woff'),
    url('fonts/akzidgrostdmed.ttf')  format('truetype');
    font-style: normal;
    font-weight: bold;
}
/*Bold Italic*/
@font-face {
    font-family: 'Akzidenz';
    src: url('fonts/akzidgrostdmedita.eot');
    src: url('fonts/akzidgrostdmedita.eot#iefix') format('embedded-opentype'),
    url('fonts/akzidgrostdmedita.woff') format('woff'),
    url('fonts/akzidgrostdmedita.ttf')  format('truetype');
    font-style: italic;
    font-weight: bold;
}
/*Light*/
@font-face {
    font-family: 'Akzidenz';
    font-family: 'Akzidenz Grotesk BQ Light';
    src: url('fonts/akzidgrostdlig.eot');
    src: url('fonts/akzidgrostdlig.eot#iefix') format('embedded-opentype'),
    url('fonts/akzidgrostdlig.woff') format('woff'),
    url('fonts/akzidgrostdlig.ttf')  format('truetype');
    font-style: normal;
    font-weight: 200;
}
/*Light Italic*/
@font-face {
    font-family: 'Akzidenz';
    src: url('fonts/akzidgrostdligita.eot');
    src: url('fonts/akzidgrostdligita.eot#iefix') format('embedded-opentype'),
    url('fonts/akzidgrostdligita.woff') format('woff'),
    url('fonts/akzidgrostdligita.ttf')  format('truetype');
    font-style: italic;
    font-weight: 200;
}
