/*
  light-grey-green: #c2e0b4;
  light-tan: #f6d29d;
*/

.guide-category-list {
    background-color: #424950;
    background-image: url("images/bg.svg");
    color: #fff;
    font-family: Akzidenz;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.guide-category-list h1 {
    font-weight: bold;
}

.guides-intro {
      font-size: 16px;
      line-height: 1.25;
      width: 581px;
      margin-bottom: 34px;
}

.guide-category__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}

.guide {
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #f5f6f7;
    border-left-width: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    color: #212121;
    cursor: pointer;

    display: flex;
    flex-direction: column;

    height: 200px;
    margin-bottom: 16px;
    margin-right: 16px;
    padding: 22px 16px 17px 16px;
    width: 326px;
    transition: border-color 0.1s linear;
}

.guide:hover {
    text-decoration: none;
}

.guide--jumbo {
    min-height: 416px;
    height: auto;
}

.guide-column {
    display: flex;
    flex-direction: column;
}

.guide-category__guides {
    display: flex;
    flex-wrap: wrap;
    max-width: 100em;
}

/* First */
.guide-category:nth-of-type(3n+1) .guide {
    border-left-color: #c2e0b4;
}

.guide-category:nth-of-type(3n+1) .guide:hover {
    border-left-color: rgb(105, 178, 65);
}

/* Second */
.guide-category:nth-of-type(3n+2) .guide {
    border-left-color: #f6d29d;
}

/* Third */
.guide-category:nth-of-type(3n+3) .guide {
    border-left-color: #c2deff;
}

.guide__title {
    font-size: 20px;
    font-weight: bold;
    color: #212121;
}

.guide__body {
    flex-grow: 1;
}

.guide__pills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.guide__pills > li {
    background-color: #e7ebeb;
    border-radius: 20px;
    color: #658d95;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    margin-right: 16px;
    padding: 0px 15px 0px 15px;
    text-align: center;
    text-transform: uppercase;
}

.guide__time {
    font-size: 16px;
    line-height: 1.5;
    color: #658d95;
}

.guide__expand {
    background-image: url('data:image/svg+xml;utf8,<svg"><path fill="%2369B241" d="M14.85.93L14.1.15a.47.47 0 0 0-.35-.15.47.47 0 0 0-.34.15L7.5 6.24 1.6.15A.47.47 0 0 0 1.24 0 .47.47 0 0 0 .9.15L.15.94a.5.5 0 0 0 0 .7l7 7.22a.47.47 0 0 0 .7 0l7-7.21a.5.5 0 0 0 0-.71z"/></svg>');
    width: 15px;
    height: 9px;
    transition: 0.1s linear transform;
    transform: rotate(-90deg);
}

.guide--expanded > .guide__expand {
    transform: rotate(0deg);
}

.guide--expanded {

}
