.card_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  width: 100%;
  max-width: 775px;
}

.card {
  background-color: white;
  transition: 200ms;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #f5f6f7;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

  text-align: left;
  padding: 0;

  font-size: responsive 14px 16px;
  font-range: 410px 800px;


  text-decoration: none;
  color: #000;
  &:hover { box-shadow: 0 10px 12px 1px rgba(0,0,0,.1); color: var(--mongodb-green); text-decoration: none; }
  &:focus { color: inherit; text-decoration: none; }
  &:active { color: var(--light-grey-green); text-decoration: none; }

}

.card-icon {
  margin: auto 12px;
  margin-left: 0;
}

.card-large {
  height: 100%;
  width: 100%;
  max-width: 380px;
  line-height: 50px;
  display: flex;
  flex-direction: column;

  &:hover { box-shadow: 0 10px 12px 1px rgba(0,0,0,.1); }
  &:active { box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1); }

  & .card-image {
    overflow: hidden;

    & > img {
      height: 100%;
      width: 100%;
      height: auto;
      max-height: 130px;
      user-select: none;
      user-drag: none;
      object-fit: cover;
    }

  }

  & .card-content {
    padding: 10px 6%;

    & .card-headline {
      line-height: 40px;
      font-weight: bold;
      font-size: 18px;
    }

    & .card-subheadline {
      line-height: 26px;
    }
  }
}

.card-small {
  height: 55px;
  line-height: 55px;
  width: 100%;
  padding: 0 12px;
  display: flex;
  flex-direction: row;

  border-left: 10px solid var(--light-grey-green);
  &:hover {
    box-shadow: 0 6px 8px 1px rgba(0,0,0,.1);
  }
  &:active {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    border-left: 10px solid var(--mongodb-green);
  }

  & .card-content {
    line-height: inherit;
  }
}

.intro-section {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;

  & .card_group {
    max-width: calc(50% - 0.5em);
  }
}

.intro-section-paragraph {
  line-height: 22px;
  font-size: 1em;
  margin: 0 16px 24px 0 !important;
  padding: 0 14px 0 0;
  max-width: 380px;
}

.wide-container .container { padding: inherit; }

@media (max-width: 760px) {
  .card_group {
    display: flex;
    flex-direction: row;
    max-width: 380px;

    > * {
      margin: 4px 0;
    }
  }

  .intro-section {
    display: flex;
    flex-direction: column;

    & .card_group {
      max-width: 380px;
    }
  }

  .intro-section-paragraph {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
  }
}
