.apiref-resource {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 5px;
}

.apiref-resource__header {
    font-family: var(--monospace);
    display: flex;
    line-height: 32px;
    cursor: pointer;

    position: relative;
}

.apiref-resource--get {
    background-color: var(--air-neutral);
    border: 0.5px solid var(--air);
}

.apiref-resource--patch {
    background-color: var(--marigold-neutral);
    border: 0.5px solid var(--marigold);
}

.apiref-resource--put {
    background-color: var(--marigold-neutral);
    border: 0.5px solid var(--marigold);
}

.apiref-resource--post {
    background-color: var(--marigold-neutral);
    border: 0.5px solid var(--marigold);
}

.apiref-resource--delete {
    background-color: var(--blush-neutral);
    border: 0.5px solid var(--blush);
}

.apiref-resource__header::before {
    background: var(--image-caret);
    background-size: 10.5px 8.4px;
    padding-right: 15px;
    content: "";
    min-width: var(--caret-width);
    transform: rotate(0deg);
    height: 33px;
}

.apiref-resource--collapsed > .apiref-resource__header::before {
    transform: rotate(-90deg);
}

.apiref-resource__method {
    width: 60px;
    margin-right: 10px;
    margin-left: 5px;
    flex-shrink: 0;
}

.apiref-resource__summary > p {
    margin: 0;
}

.apiref-resource--collapsed > .apiref-resource__body {
    height: 0;
    display: none;
}

.apiref-resource__parameter-required-flag::before {
    color: var(--blush);
    content: "required";
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

.apiref-resource__parameter-optional-flag::before {
    color: var(--mongodb-green);
    content: "optional";
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

.apiref-resource__path-parameter {
    font-weight: bold;
}

.apiref-resource__path {
    /* Fixes Chrome */
    word-wrap: break-word;
}
