/* Numbered steps directive */
.sequence-block {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 25px 0;
}

.sequence-block > .bullet-block {
    display: table-cell;
    padding-right: 10px;
    width: 2.5em;
}

.sequence-step {
    text-align: center;
    background-color: #333;
    color: white;
    width: 24px;
    font-weight: bold;
    height: 24px;
    border-radius: 12px;
}

.sequence-block > .section > h4 {
    margin: 0;
}
