{%- extends "page-layout.html" -%}

{%- block canonicalref %}
  {%- if pagename == 'index' %}
    <link rel="canonical" href="http://docs.cloudmanager.mongodb.com/" />
  {%- else %}
    <link rel="canonical" href="http://docs.cloudmanager.mongodb.com/{{pagename}}" />
  {%- endif -%}
{%- endblock -%}

{%- block adblockheader %}
    {%- include "cloud-adblock-header.html" %}
{%- endblock -%}

{%- block adblock %}
    {%- include "cloud-adblock.html" %}
{%- endblock -%}

{%- block sitesearch %}
  {%- if builder != 'singlehtml' %}
    <script type="text/javascript">
      window.googleSearchCx = "017213726194841070573:sntjladnaos"
      window.googleSearchPlaceholder = "Search Cloud Manager"
      window.googleSearchResultsUrl = "http://docs.cloudmanager.mongodb.com/search/"
  {%- endif %}
{%- endblock -%}

{%- block onboarding_modal -%}{%- endblock -%}

{%- block alertbar -%}{%- endblock -%}

{% block language_selector %}{% endblock %}

{% block version_selector %}{% endblock %}
{%- block pdflink %}{%- endblock %}
