{%- extends "page-layout.html" -%}

{%- block onboarding_modal -%} {%- endblock -%}

{%- block canonicalref %}
  {%- if pagename == 'index' %}
    <link rel="canonical" href="https://docs.opsmanager.mongodb.com/current/" />
  {%- else %}
    <link rel="canonical" href="https://docs.opsmanager.mongodb.com/current/{{pagename}}/" />
  {%- endif -%}
{%- endblock -%}

{%- block adblockheader %}
    {%- include "onprem-adblock-header.html" %}
{%- endblock -%}

{%- block adblock %}
    {%- include "onprem-adblock.html" %}
{%- endblock -%}

{%- block topnav %}
  {%- block subnav %} {% endblock %}

{% endblock %}

{%- block sitesearch %}
  {%- if builder != 'singlehtml' %}
       <script type="text/javascript">
        window.googleSearchCx = "017938353964985089139:s4tijscdeac"
        window.googleSearchPlaceholder = "Search Ops Manager"
        window.googleSearchResultsUrl = "https://docs.opsmanager.mongodb.com/current/search/"
      </script>
  {%- endif %}
{%- endblock -%}



{% block version_selector %}
  <li>
    <label>{{ _('Version') }}</label>
    <p class="pull-right saving-copy hide"><i class="fa fa-spin fa-spinner"></i> Saving your settings...</p>
    <div class="btn-group btn-group-xs pull-right mms-version-btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {% for v in theme_version_selector %}
          {% if v.current %}{{ v.text }}{% endif %}
        {% endfor %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for v in theme_version_selector %}
          {% if not v.current %}
          <li>
            <a href="#" data-path="{{ v.path }}" class="is-on-prem mms-version-selector">
            {{ v.text }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
{% endblock %}

{%- block pdflink %}{%- endblock %}

