{%- extends "page-layout.html" -%}

{%- block htmltitle %}
  {%- if not embedded and docstitle %}
    {%- set titlesuffix = " &mdash; "|safe + docstitle|e + " " + release|e %}
  {%- else %}
    {%- set titlesuffix = "" %}
  {%- endif -%}

  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
{%- endblock -%}

{%- block onboarding_modal -%} {%- endblock -%}

{%- block canonicalref %}
  {%- if pagename == 'index' %}
    <link rel="canonical" href="https://docs.opsmanager.mongodb.com/current/" />
  {%- else %}
    <link rel="canonical" href="https://docs.opsmanager.mongodb.com/current/{{pagename}}/" />
  {%- endif -%}
{%- endblock -%}

{%- block adblockheader %}
    {%- include "onprem-adblock-header.html" %}
{%- endblock -%}

{%- block alertbar -%}

  {%- if theme_eol %}
      <div class="alert alert-warning">
         <span class="alert-message">{{theme_eol_msg}}</span>
      </div>
  {%- elif theme_active_branches and version not in theme_active_branches %}
      <div class="alert alert-info">
         <span class="alert-message">This version of the manual is no longer supported.</span>
      </div>
  {%- endif %}

  {%- if theme_has_mdb_agent %}
    <div class="alert alert-info alert-dismissible in" role="alert" style="margin-left: 20px">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="alert-message">

        <h4 class="alert-heading" style="margin-bottom: 10px;">The MongoDB Agent has been released!</h4>
        The Monitoring, Backup and Automation Agents have been replaced with the MongoDB Agent.

        <a class="btn btn-success" style="margin-left: 40px;" href="https://docs.opsmanager.mongodb.com/master/reference/faq/faq-mongodb-agent/">Learn More</a>

      </span>
    </div>
  {%- endif %}

{%- endblock -%}


{%- block adblock %}
    {%- include "onprem-adblock.html" %}
{%- endblock -%}

{%- block topnav %}
  {%- block subnav %} {% endblock %}

{% endblock %}

{%- block sitesearch %}
  {%- if builder != 'singlehtml' %}
       <script type="text/javascript">
        window.googleSearchCx = "017938353964985089139:s4tijscdeac"
        window.googleSearchPlaceholder = "Search Ops Manager"
        window.googleSearchResultsUrl = "https://docs.opsmanager.mongodb.com/current/search/"
      </script>
  {%- endif %}
{%- endblock -%}

{%- block header %}
<div id="navbar" data-navprops='{"links": [{"url": "https://docs.mongodb.com/manual/","text": "Server"},{"url": "https://docs.mongodb.com/ecosystem/drivers/","text": "Drivers"},{"url": "https://docs.mongodb.com/cloud/","text": "Cloud","active": true},{"url": "https://docs.mongodb.com/tools/","text": "Tools"},{"url": "https://docs.mongodb.com/guides/","text": "Guides"}]}'></div>
{%- endblock %}

{% block version_selector %}
  <li>
    <label>{{ _('Version') }}</label>
    <p class="pull-right saving-copy hide"><i class="fa fa-spin fa-spinner"></i> Saving your settings...</p>
    <div class="btn-group btn-group-xs pull-right mms-version-btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {% for v in theme_version_selector %}
          {% if v.current %}{{ v.text }}{% endif %}
        {% endfor %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for v in theme_version_selector %}
          {% if not v.current %}
          <li>
            <a href="#" data-path="{{ v.path }}" class="is-on-prem mms-version-selector">
            {{ v.text }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
{% endblock %}

{%- block pdflink %}{%- endblock %}
