{%- extends "page-layout.html" -%}

{%- block htmltitle %}
  {%- if not embedded and docstitle %}
    {%- set titlesuffix = " &mdash; "|safe + docstitle|e + " " + release|e %}
  {%- else %}
    {%- set titlesuffix = "" %}
  {%- endif -%}

  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
{%- endblock -%}

{%- block onboarding_modal -%} {%- endblock -%}

{%- block canonicalref %}
  {%- if pagename == 'index' %}
    <link rel="canonical" href="{{theme_base_url}}/opsmanager/current/" />
  {%- else %}
    <link rel="canonical" href="{{theme_base_url}}/opsmanager/current/{{pagename}}/" />
  {%- endif -%}
{%- endblock -%}

{%- block adblockheader %}
    {%- include "onprem-adblock-header.html" %}
{%- endblock -%}

{%- block alertbar -%}
  {{ super() }}
  {%- if theme_has_mdb_agent %}
    <div class="alert alert-info alert-dismissible in" role="alert" style="margin-left: 20px">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="alert-message">

        <h4 class="alert-heading" style="margin-bottom: 10px;">The MongoDB Agent has been released!</h4>
        The Monitoring, Backup and Automation Agents have been merged into the MongoDB Agent.

        <a class="btn btn-success" style="margin-left: 5px; margin-bottom: 5px;" href="{{theme_base_url}}/opsmanager/master/reference/faq/faq-mongodb-agent/">Learn More</a>
      </span>
    </div>
  {%- endif %}

  {%- if theme_eol %}
    <div class="alert alert-warning">
      <span class="alert-message">{{theme_eol_msg}}</span>
    </div>
  {%- elif theme_active_branches and version not in theme_active_branches %}
    <div class="alert alert-info">
      <span class="alert-message">This version of the manual is no longer supported.</span>
      {%- if theme_eol_remove %}
          <span class="alert-message">It will be removed on {{ theme_eol_date }}.</span>
      {%- endif %}
    </div>
  {%- endif %}

{%- endblock -%}


{%- block adblock %}
    {%- include "onprem-adblock.html" %}
{%- endblock -%}

{%- block topnav %}
  {%- block subnav %} {% endblock %}

{% endblock %}

{%- block sitesearch %}
  {%- if builder != 'singlehtml' %}
    <script type="text/javascript">
      window.googleSearchCx = "017938353964985089139:s4tijscdeac"
      window.googleSearchPlaceholder = "Search Ops Manager"
      window.googleSearchResultsUrl = "{{theme_base_url}}/opsmanager/current/search/"
    </script>
  {%- endif %}

{%- endblock -%}

{%- block header %}
<div id="navbar" data-navprops='{"links": [{"url": "{{theme_base_url}}/manual/","text": "Server"},{"url": "{{theme_base_url}}/ecosystem/drivers/","text": "Drivers"},{"url": "{{theme_base_url}}/cloud/","text": "Cloud","active": true},{"url": "{{theme_base_url}}/tools/","text": "Tools"},{"url": "{{theme_base_url}}/guides/","text": "Guides"}], "baseUrl": "{{theme_base_url}}"}'></div>
{%- endblock %}

{% block version_selector %}
  <li>
    <label>{{ _('Version') }}</label>
    <p class="pull-right saving-copy hide"><i class="fa fa-spin fa-spinner"></i> Saving your settings...</p>
    <div class="btn-group btn-group-xs pull-right mms-version-btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {% for v in theme_version_selector %}
          {% if v.current %}{{ v.text }}{% endif %}
        {% endfor %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for v in theme_version_selector %}
          {% if not v.current %}
          <li>
            <a href="#" data-path="{{ 'docs/' + v.path }}" class="is-on-prem mms-version-selector">
            {{ v.text }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
{% endblock %}

{%- block pdflink %}{%- endblock %}
