<!doctype html>

{%- set url_root = pathto('', 1) %}
{%  set script_files = ["_static/lib/bootstrap.js", "_static/controller.js"] %}

{%- macro css() %}
   {%- for cssfile in css_files %}
       <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
   {%- endfor %}
   <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
   <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
   <link rel="stylesheet" href="{{ pathto('_static/css/navbar.min.css', 1) }}" type="text/css" />
{%- endmacro -%}

{%- macro regular_body() -%}
  <aside class="left-toc hide-first-toc-level">
    <div class="left-toc__title">Overview:</div>
    {{ toc }}
  </aside>
  <div class="left-nav-space"></div>
  <div id="main-column" class="main-column">
    {%- block content %}
      {%- if render_sidebar %}<div class="bodywrapper">{%- endif %}
      <div class="body" data-pagename="{{pagename}}">
        <div class="bc">
         {% if parents %}
           <ul>
            {%- for parent in parents %}
              <li><a href="{{ parent.link|e }}">{{ parent.title }}</a><span class="bcpoint"> > </span></li>
            {%- endfor %}
          </ul>
        {% endif %}
        </div>

        {% block body %}
          {{ body }}
        {% endblock %}

        {%- block footer %}
          <div class="footer">
            <div class="copyright">
              <p>&copy; MongoDB, Inc 2008-present. MongoDB, Mongo, and the leaf logo are registered trademarks of MongoDB, Inc.</p>
            </div>
          </div>
        {%- endblock %}
      </div>
      {%- if render_sidebar %}</div>{%- endif %}
    {%- endblock %}
  </div>
{%- endmacro -%}

<html lang="{{theme_language}}">

<head>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />
  {%- block htmltitle %}
    <title>{{ title|striptags|e }}</title>
  {%- endblock -%}

  <link rel="shortcut icon" href="https://media.mongodb.org/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset={{ encoding }}" />
  <meta name="robots" content="index" />
  <meta name="release" content="{{release}}"/>
  <meta name="version" content="{{version}}"/>
  <meta name="DC.Source" content="https://github.com/mongodb/{{theme_repo_name}}/blob/{{theme_branch}}/source/{{pagename}}.txt"/>
  <meta property="og:image" content="http://s3.amazonaws.com/info-mongodb-com/_com_assets/cms/mongodb-for-giant-ideas-bbab5c3cf8.png">
  <meta property="og:image:secure_url" content="https://webassets.mongodb.com/_com_assets/cms/mongodb-for-giant-ideas-bbab5c3cf8.png">

  {%- block metadescription %}{%- endblock -%}

  {{ metatags }}
  {{ css() }}

  {%- if not embedded %}
    {%- block googlecse_opensearch %}
      <link rel="search" type="application/opensearchdescription+xml" href="https://docs.mongodb.com/osd.xml" title="MongoDB Help"/>
    {%- endblock -%}

    {%- if favicon %}
      <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
    {%- endif %}
  {%- endif %}
</head>
<body data-project="{{theme_project}}" data-project-title="{{docstitle|e}}" data-branch="{{theme_branch}}" data-enable-marian=1>
  <div id="navbar" data-navprops='{"links": [{"url": "https://docs.mongodb.com/manual/","text": "Server"},{"url": "https://docs.mongodb.com/ecosystem/drivers/","text": "Drivers"},{"url": "https://docs.mongodb.com/cloud/","text": "Cloud"},{"url": "https://docs.mongodb.com/tools/","text": "Tools"},{"url": "https://docs.mongodb.com/tutorials/","text": "Tutorials","active": true}]}'></div>

  <script async src="{{ pathto('_static/navbar.min.js', 1) }}"></script>

  <div class="content">
    {%- if pagename == 'index' -%}
    <div class="guide-category-list">
      {{ body }}
    </div>
    {%- else -%}
    {{ regular_body() }}
    {%- endif -%}

    <div id="rating-panel"></div>
  </div>

  <script type="text/javascript" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin=anonymous></script>
  <!-- Google Tag Manager -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-JQHP"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
     {'gtm.start': new Date().getTime(),event:'gtm.js'}
   );var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-JQHP');</script>
  <!-- End Google Tag Manager -->
  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_org'] = '54YFM';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
        if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
        g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
        o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
        d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
        ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
    })(window,document,window['_fs_namespace'],'script','user');
  </script>
  {%- for scriptfile in script_files %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
  {%- endfor %}
</body>

{%- block endjs %} {%- endblock %}
</html>
