{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
    <ul id="navigation">
    <h1>Upload PO Files</h1>
    <form action="upload" enctype="multipart/form-data" method="post">
        <input type="file" name="file" id="file"><br/>
        Username: <input type="text" id="username" name="username" value="Moses" ><br/>
        Status: <input type="text" id="status" name="status" value="SMT" ><br/>
        Source Language: <input type="text" id="source_language" name="source_language" value="en" ><br/>
        Target Language: <input type="text" id="target_language" name="target_language" value="es" ><br/>
        <input type="button" id= "upload-btn" value="Upload"><br/>
    </form>
    <h1>Download PO Files</h1>
        Target Language: <input type="text" id="target_language_download" name="target_language" value="es" ><br/>
        <select id="download-file-path">
            <option>ALL</option>
            {% for file in file_list %}
            <option>{{file}}</option>
            {% endfor %}
        </select><br/>
         <input type="button" id= "download-all-btn" value="Download All Sentences"><br/>
         <input type="button" id= "download-approved-btn" value="Download Approved Sentences"><br/>
    </ul>

{% endblock %}