{% import 'pagination.html' as pagination_macro %}
{% extends "base.html" %}
{% block title %}File Browser{% endblock %}
{% block header %}
    <script type="text/javascript" src="{{url_for('static',filename='javascript/sorttable.js')}}"></script>
{% endblock %}
{% block content %}
<ul id="navigation">
    Username: <input id="username" value="{{username}}" readonly></input>
    Target Language: <input id="language" value="{{language}}" readonly></input>
    <table class="sortable table table-striped">
        <thead><tr>
            <th>File Name</th>
            <th>Approved</th>
            <th>Reviewed</th>
            <th></th>
        </tr></thead>
        {% for file in file_list %}
            <tr>
                <td class="file_name">
                    {{file['file_path']}}
                </td>
                <td sorttable_customkey={{file['num_approved']/file['num_sentences']}} class="approved_stat">
                    <input readonly class="approval_frac" value="{{file['num_approved']}}/{{file['num_sentences']}}"></input>
                </td>
                <td sorttable_customkey={{file['num_reviewed']/file['num_sentences']}} class="reviewed_stat">
                    <input readonly class="review_frac" value="{{file['num_reviewed']}}/{{file['num_sentences']}}"></input>
                </td>
                <td class="editfile_button" >
                    <button class="editfile btn btn-success btn-sm" id="{{file}}-editButton" onclick="location.href = '/file/{{username}}/{{language}}/{{file['file_path']|pathname2url}}';">Edit</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    </ul>
    {{pagination_macro.render_pagination(pagination)}}
{% endblock %}