.copy-button {
    border: 1px solid #7a7b7b;
    background-color: #7a7b7b;
    color: white;
    height: 25px;
    font-size: 13px;
    left: 1040px;
    position: absolute;
}

@media print {
    .copy-button {
        display: none;
    }
}

@media (max-width: 1093px) {
    .copy-button {
        left: 730px;
    }
}

.copy-button:active {
    background-color: rgb(157, 158, 158);
    border-color: rgb(157, 158, 158);
}

.copy-button > .fa {
    padding-right: 3px;
}
