{%- extends "page-layout.html" -%}

{%- block htmltitle %}
  {%- if not embedded and docstitle %}
    {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
  {%- else %}
    {%- set titlesuffix = "" %}
  {%- endif -%}

  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
{%- endblock -%}

{%- block editlink_icon %}{% endblock %}

{%- block canonicalref %}
  {%- if pagename == 'index' %}
    <link rel="canonical" href="{{theme_base_url}}/atlas/" />
  {%- else %}
    <link rel="canonical" href="{{theme_base_url}}/atlas/{{pagename}}/" />
  {%- endif -%}
{%- endblock -%}

{%- block adblockheader %}
    {%- include "cloud-adblock-header.html" %}
{%- endblock -%}

{%- block adblock %}
    {%- include "cloud-adblock.html" %}
{%- endblock -%}

{%- block sitesearch %}
  {%- if builder != 'singlehtml' %}
    <script type="text/javascript">
      window.googleSearchCx = "017213726194841070573:atohpekehkg"
      window.googleSearchPlaceholder = "Search Atlas"
      window.googleSearchResultsUrl = "{{theme_base_url}}/atlas/search/"
    </script>
  {%- endif %}
{%- endblock -%}

{%- block header %}
<div id="navbar" data-navprops='{"links": [{"url": "{{theme_base_url}}/manual/","text": "Server"},{"url": "{{theme_base_url}}/drivers/","text": "Drivers"},{"url": "{{theme_base_url}}/cloud/","text": "Cloud","active": true},{"url": "{{theme_base_url}}/tools/","text": "Tools"},{"url": "{{theme_base_url}}/guides/","text": "Guides"}], "baseUrl": "{{theme_base_url}}"}'></div>
{%- endblock %}

{%- block onboarding_modal -%}{%- endblock -%}

{%- block alertbar -%}
    {{ super() }}
{%- endblock -%}

{% block language_selector %}{% endblock %}

{% block version_selector %}{% endblock %}

{%- block format_selector %}{% endblock %}
